{% extends 'base.html.twig' %}

{% block title %}Modifier mon mot de passe - Amanie Cosmetics {% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

     <h1> Modifier mon mot de passe </h1>
     <hr>
     <a href="{{ path ('account') }}"> Retourner à mon compte</a><br/>
     <hr>
{% if notification %}
         <div class="alert alert-info"> {{ notification }}</div>
{% endif %}
     {{ form (form) }}
     <hr>
{% endblock %}