{% extends 'base.html.twig' %}

{% block body %}
 <div>

        <div class="container-start" >
        <div class="title2">
            <p class="brand"> AMANIE COSMETICS</p>
            <P class="name">BY AMANIE BSN</P>
        </div>
        </div>      
    </div>
   
    <div class="container-pack">
        <p class="hight"> MES GLOSSES</p>
    </div>
     
    <div class="lip">
        <div class="row">
            <div class="col"><img src="{{ asset('assets/pictures/pearl.jpeg') }}" width="300" height="300"/></div>
            <div class="col"><img src="{{ asset('assets/pictures/gold.jpeg') }}" width="300" height="300"/></div>
            <div class="col"><img src="{{ asset('assets/pictures/silver.jpeg') }}" width="300" height="300"/></div>
            <div class="col"><img src="{{ asset('assets/pictures/cherry.jpeg') }}" width="300" height="300"/></div>
          </div>
    </div>
{% endblock %}